header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 125px;
  border: 5px solid black;
}

img {
  height: 63px;
  width: 63px;
}

h1 {
  font-size: x-large;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 5px solid black;
  margin-top: -5px;
  height: 125px;
}

th {
  border: 2px solid black;
}

td {
  border: 2px solid black;
}

tr:nth-child(4n + 1) {
  background-color: red;
}

tr:nth-child(4n + 2) {
  background-color: rgb(0, 255, 0);
}

tr:nth-child(4n + 3) {
  background-color: rgb(0, 140, 255);
}

tr:nth-child(4n + 4) {
  background-color: rgb(255, 255, 0);
}

table {
  margin-top: -2px;
  border-right: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

select,
label {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 10px;
  }

  img {
    height: 30px;
    width: 30px;
  }

  table .type-box1,
  table .type-box2 {
    height: 15px;
  }

  table .pokeball-dex {
    height: 25px;
    width: 25px;
  }
}
