.header {
  display: flex;
  background-color: rgb(255, 0, 0);
  width: 100%;
  justify-content: space-between;
}

.headerText {
  rotate: -30deg;
  text-align: center;
}

.pokedex-img {
  margin-top: 25px;
  margin-left: 25px;
  height: 63px;
  width: 63px;
}

.pokeballHeader {
  margin-top: 25px;
  margin-right: 25px;
  width: 63px;
  height: 63px;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.filter-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-button {
  border-radius: 10%;
  border: 1px solid;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pokedex-table {
  width: 100%;
  border-collapse: collapse;
}

.type-box1,
.type-box2 {
  border-radius: 20px;
  text-align: center;
  color: white;
  height: 22px;
  font-family: sans-serif;
}

.grass {
  background: #78c850;
  border: 1px solid #4e8234;
}

.normal {
  background: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background: #f08030;
  border: 1px solid #9c531f;
}

.fighting {
  background: #c03028;
  border: 1px solid #7d1f1a;
}

.water {
  background: #6890f0;
  border: 1px solid #445e9c;
}

.flying {
  background: #a890f0;
  border: 1px solid #6d5e9c;
}

.poison {
  background: #a040a0;
  border: 1px solid #682a68;
}

.electric {
  background: #f8d030;
  border: 1px solid #a1871f;
}

.ground {
  background: #e0c068;
  border: 1px solid #927d44;
}

.psychic {
  background: #f85888;
  border: 1px solid #a13959;
}

.rock {
  background: #b8a038;
  border: 1px solid #786824;
}

.ice {
  background: #98d8d8;
  border: 1px solid #638d8d;
}

.bug {
  background: #a8b820;
  border: 1px solid #6d7815;
}

.dragon {
  background: #7038f8;
  border: 1px solid #4924a1;
}

.ghost {
  background: #705898;
  border: 1px solid #493963;
}

.dark {
  background: #705898;
  border: 1px solid #493963;
}

.steel {
  background: #b8b8d0;
  border: 1px solid #787887;
}

.pokeball-dex {
  height: 30px;
  width: 30px;
}

td {
  text-align: center;
}
